<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homecenter">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <uses-library android:name="com.google.android.things" />

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <!-- Make this the first activity that is displayed when the device boots. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <service
            android:name=".WIFI.SocketService"
            android:process=".socket"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".LoWPAN.LoWPANService"
            android:process=".lowanp"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Bluetooth.BluetoothService"
            android:process=".bleservice"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>